@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
	font-family: 'Cardo';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
}

/* Override a Bulma default here */
.label:not(:last-child) {
	margin-bottom: 0;
}

._dash-undo-redo {
	display: none;
}

/* We want vertical Checklists always. */
.control label.checkbox, .control label.radio {
	display: block;
}

.control label.checkbox input[type="checkbox"], .control label.radio input[type="radio"] {
	display: inline-block;
	position: relative;
	bottom: 1px;
}

.control label.checkbox input[type="checkbox"] {
	margin-right: 1ex;
}

.control .models_checklist label.radio:first-of-type {
	font-weight: bold;
}

/* override a Bulma default for inline radio items */
.radio+.radio {
	margin-left: 0;
}

label.hidden {
	display: none;
}

/* Pull together items that need it */
.control.tight {
	margin-top: -.75em;
	padding-top: -.75em;
}

/* zone / region selection GUI element */
#zone {
	margin-bottom: 1.1em;
}

#total_area_burned, #veg_counts {
	width: 100%;
	height: 60vh;
}

.field.rolling-window {
	margin-bottom: 2em;

}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 5000;
}